---
layout: default
---
    <header class="site-header">
      <div class="site-header-container">
        <img class="site-avatar" src="{{ "/img/jhoium-1.0.jpg" | prepend: site.baseurl }}">
        <span class="content">
          <span class="site-title">
            <span class="site-name">{{ site.author.name }}</span>
            <span class="site-description">{{ site.description }}</span>
          </span>
          <div class="site-links">
            {% for item in site.links %}
            <a href="{{ item.url }}" onclick="_gaq.push(['_trackEvent', '{% if item.type %}{{ item.type}}{% else %}linkTo{% endif %}', '{% if item.id%}{{ item.id }}{% else %}{{ item.name }}{% endif %}', this.href]);"><i class="fa {{ item.class }}"></i><span class="link-text">{{ item.name }}</span></a>{% endfor %}
          </div>
        </span>
      </div>
    </header>
